body
{
    background-image: url('../img/background@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.reservas-container
{
    position: relative;
    height: auto;
    overflow: hidden;
    font-family: var(--font-irish-grover);
}

.reservas-contenido
{
    margin-top: 6%;
    margin-bottom: 2%;
}

.titulo-reservas, .titulo-confirmacion-reserva
{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.titulo-reservas
{
    color: var(--blue);
}

.titulo-confirmacion-reserva
{
    color: var(--yellow);
}

.titulo-confirmacion-reserva
{
    font-size: 30px;
}

.botones-reservas
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xl);
    column-gap: 70px;
}

.boton-eliminar,
.boton-modificar,
.boton-nueva-reserva
{
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-black);
    box-sizing: border-box;
    width: 251px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--font-irish-grover);
    font-size: 20px;
    :any-link, :link, :visited
        {
        text-decoration: none;
        color: white;
    }
}

.boton-invisible
{
    display: none;
}

.boton-nueva-reserva
{
    border: 2px solid var(--blue);
}

.boton-nueva-reserva:hover
{
    box-shadow: 0 4px 4px var(--blue);
}

.boton-modificar
{
    border: 2px solid var(--color-yellow);
}

.boton-modificar:hover
{
    box-shadow: 0 4px 4px var(--color-yellow);
}

.boton-eliminar
{
    border: 2px solid var(--color-firebrick);
}

.boton-eliminar:hover
{
    box-shadow: 0 4px 4px var(--color-firebrick);
}

.busqueda-reserva-container
{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 20px;
}

.reserva-container
{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.reserva-containers
{
    display: flex;
}

.reserva-container1,
.reserva-container2
{
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

.titulo-label
{
    position: relative;
    margin-top: 20px;
}

label, input
{
    width: 99%;
    display: block;
    color: var(--yellow);
}

label
{
    position: relative;
    margin-bottom: 10px;
}

input, select
{
    background-color: transparent;
    height: 35px;
    border-radius: var(--br-5xs);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(4px);
    border: 3px solid var(--yellow);
    color: var(--yellow);
}

select
{
    width: 101%;
    height: 41.8px;
}

option
{
    background-color: var(--color-black);
    color: var(--yellow);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator
{
    filter: invert(1);
    font-size: 20px;
}

.sin-hora
{
    text-align: center;
    color: var(--yellow);
    margin-top: 60px;
    font-size: 21px;
}
.finalizar-container
{
    text-align: center;
}

.boton-finalizar
{
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--yellow);
    color: var(--pink);
    font-size: 25px;
    font-family: var(--font-irish-grover);
}

.borrado-reservas-container
{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 70px;
}

.boton-eliminar-reserva
{
    margin-top: 30px;
    width: 100%;
    height: 40.2px;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--pink);
    -webkit-text-stroke: 0.8px #b519a6;
    font-size: 25px;
    font-family: var(--font-irish-grover);
}

.notification-container
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    border: 2px solid white;
    background-color: #7FFF3B;
    padding:1rem;
    color: white;
    border-radius:1rem;
    font-family: var(--font-irish-grover);
    display: none;
}

.listado-de-reservas-container
{
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}

.listado-de-reservas
{
    text-align: center;
    color: var(--blue);
}

.paginacion
{
    display: flex;
    align-items: center;
}

.pagina_actual,
.pagina_anterior,
.pagina_siguiente
{
    width: 100%;
}

.pagina_actual
{
    text-align: center;
    font-size: 2em;
}

.pagina_anterior
{
    text-align: left;
}

.pagina_siguiente
{
    text-align: right;
}

.pagina_actual
{
    text-align: center;
}

.link_paginacion
{
    background-color: transparent;
    font-family: var(--font-irish-grover);
    color: var(--font-irish-grover);
}

table
{
    border-radius: 16px;
    width: 100%;
    background-color: var(--color-black);
    color: var(--yellow);
}

th, td
{
    font-size: 100%;
}

footer
{
    margin-top: auto;
}

.invisible
{
    display: none;
}