
body {

/* Ubicación de la imagen */

background-image: url('../img/background@2x.png');

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

background-color: #66999;

}

.texto-gm {
  position: relative;
  color: var(--yellow);
  font-size: var(--font-size-xl);
  font-family: var(--font-irish-grover);
  
}
input, textarea, select
{
    background-color: transparent;
    height: 35px;
    color: var(--yellow);
    
}
input.box {
    width : 20px;
    height : 20px;
}

option{
    background-color: black;
}
label, input, textarea
{
    display: block;
    .check{
        display: flex;
    }
}
.rectangulo-input
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  
}
.rectangulo-input-centro{
  position: relative;
  display:inline;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 25%;
  height: 40px;
}
.rectangulo-pequeno
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 75%;
  height: 40px;
}
.rectangulo-unidades
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 40px;
  height: 25px;
}
.categoria-borrar{
    position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 25%;
  height: 40px;
}
.rectangulo-textarea
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 50%;
  height: 160px;
}
.rectangulo-textarea-otros{
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 25%;
  height: 160px;
  margin: 0 auto;
}
.rectangulo-textarea-trabaja
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 50%;
  height: 146px;
  margin-top: 0%;
}
.rectangulo-textarea-contacto
 {
  position: relative;
  
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 50%;
  height: 173px;
  margin-top: 0%;
}
.nueva-reserva-inner,
.nueva-reserva-item {
  top: 1239px;
  width: 238px;
}
.nueva-reserva-inner {
  left: 1042px;
}
.sub-categora {
  position: relative;
  display: inline-block;
  width: 211px;
  flex-shrink: 0;
}

.frame-div,
.ingredientes {
  position: absolute;
  left: 165px;
}
.frame-div {
  top: 1089px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 503px;
  height: 224px;
}
.ingredientes {
  top: 1037px;
}
.nueva-reserva-child1 {
  position: absolute;
  top: 688px;
  left: 160px;
  width: 262px;
}
.nueva-reserva-child2 {
  position: absolute;
  top: 541px;
  left: 161px;
  width: 94px;
}
.nueva-reserva-child3 {
  position: absolute;
  top: 941px;
  left: 776px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  box-sizing: border-box;
  width: 503px;
  height: 73px;
}
.nueva-reserva-child4 {
  position: absolute;
  top: 394px;
  left: 777px;
  width: 70px;
}
.categora {
  position: absolute;
  top: 888px;
  left: 776px;
}
.nombre-wrapper,
.nueva-reserva-child5 {
  position: absolute;
  left: 165px;
  box-sizing: border-box;
}
.nueva-reserva-child5 {
  top: 941px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4px);
  border: 3px solid var(--yellow);
  width: 503px;
  height: 73px;
}

.aadir-nuevo-producto {
  position: relative;
  margin: 0 auto;
  font-size: var(--font-size-17xl);
  color: var(--blue);
  
  text-align: center;
}
.encabezado-selec-ing {
  position: relative;
  margin: 0 auto;
  font-size: 25px;
  color: var(--yellow);
  
  text-align: center;
}
.boton-anadir {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.select-form-izq{
    margin-left: 45%;
    margin-bottom: 5%;
    
}
.guardar-wrapper {
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
;
  background-color: var(--yellow);
  width: 20%;
  font-family: var(--font-irish-grover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  
  color: var(--pink);
  
}

.boton-tabla{
  position: relative;
  margin: 0;
  border-radius: 5px;
;
  background-color: var(--yellow);
  width: 100%;
  font-family: var(--font-irish-grover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  
  color: var(--pink);
}
.guardar-wrapper-anadir{
  position: relative;
  margin: 0;
  border-radius: 5px;
;
  background-color: var(--yellow);
  width: 20%;
  font-family: var(--font-irish-grover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  
  color: var(--pink);
}
.guardar-wrapper-trabaja {
  position: relative;
  margin: 27% auto;
  border-radius: 5px;
;
  background-color: var(--yellow);
  width: 80%;
  font-family: var(--font-irish-grover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  
  color: var(--pink);
}
.guardar-wrapper-contacto {
  position: relative;
  margin: 0% auto;
  border-radius: 5px;
;
  background-color: var(--yellow);
  width: 80%;
  font-family: var(--font-irish-grover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  
  color: var(--pink);
}
input[type="file"]::file-selector-button {
  position: relative;
  margin-bottom: 2%;
  border-radius: 5px;
;
  background-color: var(--yellow);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-sizing: border-box;
  
  color: var(--pink);
  font-family: var(--font-irish-grover);
}
.boton-anadir {
  border-radius: var(--br-base);
  box-shadow: 0 4px 4px #3ed7e5;
  border: 2px solid var(--blue);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.activardesactivar {
  margin: 0;
}
.boton-activar {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px #b519a6;
  border: 2px solid var(--pink);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.boton-borrar {
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px #bc1327;
  border: 2px solid #bc1327;
  flex-direction: row;
}
.boton-carta-cocinero {
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px #f5f94a;
  border: 2px solid #f5f94a;
  flex-direction: column;
  
}
.boton-carta-cocinero{
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}


.boton-inventario-cocinero{
  box-shadow: 0 4px 4px #bc1327;
  border: 2px solid #bc1327;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  margin-right: 10%;
}


.boton-pedidos-camarero{
  box-shadow: 0 4px 4px #3ed7e5;
  border: 2px solid var(--blue);
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  margin-right: 10%;
}


.boton-reservas-camarero{
  box-shadow: 0 4px 4px #b519a6;
  border: 2px solid var(--pink);
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  margin-right: 10%;
}
.boton-ver,
.boton-borrar,
.boton-buscar {
  position: absolute;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.boton-buscar {
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 4px #4cb24c;
  border: 2px solid var(--green);
  flex-direction: row;
}
.boton-ver {
  top: calc(50% - 42.5px);
  left: calc(50% - 132.5px);
  box-shadow: 0 4px 4px #f5f94a;
  border: 2px solid #f5f94a;
  flex-direction: column;
}
.botones {
  position: relative;
  align-self: center;
  margin: 0 auto;
  /*top: 324px;
  left: 335px;*/
  width: 771px;
  height: 381px;
  font-size: var(--font-size-xl);
  
}
.gestin-de-menscarta-al-puls {
  
  position: relative;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: var(--font-size-5xl);
  color: var(--yellow);
  font-family: var(--font-irish-grover);
}

.formulario_carta{
    position: relative;
    width: 100%;
}

.contenedor-anadir{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 0%
    
    
}

.anadir-izq{
    width: 50%;
    margin-bottom: 0%
}
.anadir-der{
    width: 50%;
    margin-bottom: 0%
}

.contenedor-bot-coc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-top: 10%;
    
    
}
.container-botones-izq{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-bottom: 0%;
    margin-right: 10%;
    
}
.container-botones-der{
    display: flex;
    
    width: 40%;
    margin-bottom: 0%;
    margin-left: 10%;
}

.elemento-form-izq{
    margin-left: auto;
    margin-right: 5%;
    
}
.elemento-form-der{
    margin-left: 5%;
    margin-right: 35%; 
}

.etiqueta-izq{
    margin-right: 35%;
    margin-left: auto;
    width: 20%
       
}

.contenedor-precio-estado{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
}

.subcontenedor-precio{
    width: 25%;
    
    .etiqueta-izq{
        margin-left: 20%;
    }
    .elemento-form-der{
        margin-left: 20%;
    }
   
        
}
.subcontenedor-estado{
    width: 25%;
    
    .etiqueta-der{
       /* margin-left: 20%;*/
    }
}
.botones-form{
    
    text-align: center;
    
    margin-bottom: 10%;
}

.contenedor_opciones{
    text-align: center;
}
.contenedor_opciones2{
    text-align: left;
}

.contenedor_form_trabaja{
    text-align: left;
    margin-top: 5%;
}

.contenedor_borrar{
    
   margin-bottom: 20%;
   
}
.check{
    display: flex;
    margin: 5px 30px 5px 30px;
}
.conteiner-ingredientes{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 0;
    
}

.container-botones-form{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 10%;
    justify-content: center;
}

.conteiner-otros-ingredientes{
    display: flex;
    margin: 0 auto;
    align-content: center;
}

.error-form{
    color: #ff3300;
    
}
.correcto-form{
    color: #4cb24c;
    font-size: 20px;
}
.incorrecto-form{
    color: #ff3300;
    font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
   
}

a{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

optgroup{
    color: gray;
}

.tabla {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-black);
    position: relative;
    border-radius: 16px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--yellow);
    font-size: 20px;
    table-layout: fixed;
    border: 3px solid purple;
}

.personal {
    background-color: var(--color-black);
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-family: var(--font-irish-grover);
    padding-bottom: 200px;
    background: url(../img/background_personal@2x.png) repeat fixed center / cover;
    background-color: var(--color-black);
}

th {
    -webkit-text-stroke: 1px var(--pink);
    font-size: 25px;
}

tbody tr:nth-child(odd) {
    background-color: #363332;
  
}

tbody tr:nth-child(even) {
  background-color: #666666;
}

table {
  background-color: #ff33cc;
}
