.pedidos {
    height: auto;
    background-color: var(--color-black);
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: var(--font-irish-grover);
    padding-bottom: 200px;
    background: url(../img/background-login@2x.png) repeat fixed center / cover;
}

.tabla-pedidos {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.tabla {
    position: relative;
    width: 100%;
    border-radius: 16px;
    align-self: stretch;
    flex: 1;
    background-color: var(--color-black);
    color: var(--yellow);
        font-size: 20px;
}

.h1 {
    position: relative;
    top: 100px;
    margin-right: auto;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    color: var(--blue);
    font-size: 35px;
    text-align: center;
}

.th {
    -webkit-text-stroke: 1px var(--blue);
    font-size: 25px;
}

.mensaje {
    color: var(--color-firebrick);
    position: relative;
    top: 100px;
}

.boton-cocinar {
    border-radius: 8px;
    background-color: var(--color-black);
    box-sizing: border-box; 
    font-family: var(--font-irish-grover);
    width: 85px;
    height: 30px;
    font-size: medium;
    border-color: var(--blue);
    color: var(--yellow);
    cursor: pointer;
}

.boton-cocinar:hover{
    box-shadow: 0 4px 4px var(--blue);
}

.boton-servir {
    border-radius: 8px;
    background-color: var(--color-black);
    box-sizing: border-box;
    color: var(--yellow);
    font-family: var(--font-irish-grover);
    width: 85px;
    height: 30px;
    font-size: medium;
    border-color: var(--green);
    cursor: pointer;
}

.boton-servir:hover {
    box-shadow: 0 4px 4px var(--green);
}