.reservas-container 
{
  position: relative;
  background-color: var(--color-black);
  height: 1939px;
  font-family: var(--font-irish-grover);
}
.reservas-contenido 
{
  position: absolute;
  top: 4%;
  width: 100%;
  color: var(--yellow);
}
.boton-volver
{
    margin-left: 200px;
    font-size: 20px;
    text-decoration: none;
    color: greenyellow;
}
.titulo-reservas
{
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: var(--blue);
    -webkit-text-stroke: 0.5px #b519a6;
}
.botones-reservas 
{
  display: flex;
  justify-content: center;
  font-size: var(--font-size-xl);
  column-gap: 70px;
}
.boton-eliminar,
.boton-modificar,
.boton-nueva-reserva
{
  border-radius: var(--br-base);
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 251px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  :any-link, :link, :visited
    {
        text-decoration: none;
        color: white;
    }
}
.boton-nueva-reserva
{
    border: 2px solid var(--blue);
    box-shadow: 0 4px 4px var(--blue);
}
.boton-modificar
{
    border: 2px solid var(--color-yellow);
    box-shadow: 0 4px 4px var(--color-yellow);
}
.boton-eliminar
{
    border: 2px solid var(--color-firebrick);
    box-shadow: 0 4px 4px var(--color-firebrick);
}
.listado-de-reservas 
{
  text-align: center;
  margin-block-start: 1.5em;
  margin-block-end: 0.2em;
  color: var(--blue);
  -webkit-text-stroke: 0.5px #b519a6;
}
.contenedor-tabla-listado-de-reservas
{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}
.paginacion
{
    display: flex;
    align-items: center;
}
.pagina_actual,
.pagina_anterior,
.pagina_siguiente
{
  width: 100%;
}
.pagina_actual
{
    text-align: center;
    font-size: 2em;
}
.pagina_anterior
{
    text-align: left;
}
.pagina_siguiente
{
    text-align: right;
}
.pagina_actual
{
    text-align: center;
}
.link_paginacion
{
    background-color: transparent;
    font-family: var(--font-irish-grover);
    color: var(--font-irish-grover);
}
table
{
    width: 100%;
    background-color: #000; 
}
table, th, td
{
    border: 2px solid white;
    border-collapse: collapse;
}
th, td
{
    font-size: 30px;
}